<div class="row">
    <div ng-repeat="question in questions">
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <h3 class="panel-title">שאלה &bull; {{ question.lesson.title }}</h3>
            </div>
            <div class="panel-body">
                <span ng-class="{'highlight': question.highlight}">
                    {{ question.text }}
                    <span ng-if="studentView">
                        &bull;
                        ציון סופי:
                        <span score value="{{ question.score }}"></span>
                    </span>
                    <span ng-if="!studentView">
                        &bull;
                        {{ question.created_at | lomdaDate }}
                        &bull;
                        <span ng-show="question.is_teacher">
                               שאלת מורה
                         </span>
                       <span ng-hide="question.is_teacher">
                            {{ question.created_by_student.name }}
                        </span>
                        <span ng-show="question.last_edited_at">
                            &bull;
                            נערך ב
                            {{ question.last_edited_at | lomdaDate }}
                        </span>
                        <span ng-hide="question.is_teacher">
                            &bull;
                            <span ng-hide="question.editTeacherScoreMode">
                                <span ng-show="question.teacher_score">
                                    ציון מורה: {{ question.teacher_score | scoreNumber }}
                                </span>
                                <span ng-hide="question.teacher_score">
                                    אין ציון מורה
                                </span>
                                <span class="btn-group" role="group" aria-label="edit" ng-if="canEditTeacherScores">
                                    <button title="ערוך ציון מורה" class="btn btn-xs"
                                            ng-click="question.editTeacherScoreMode = true; question.input_teacher_score = question.teacher_score">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button title="מחק ציון מורה"
                                            ng-if="question.teacher_score" class="btn btn-xs"
                                            ng-click="deleteTeacherScore(question,true)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                 </span>
                            </span>
                            <span ng-show="question.editTeacherScoreMode">
                                <select ng-model="question.input_teacher_score"
                                        ng-options="x for x in [10,9,8,7,6,5,4,3,2,1]">
                                </select>
                                <span class="btn-group" role="group" aria-label="edit">
                                    <button ng-click="changeTeacherScore(question,true)"
                                            type="button"
                                            class="btn btn-primary btn-xs">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button ng-click="cancelTeacherScore(question,true)" type="button"
                                            class="btn btn-primary btn-xs">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                 </span>
                            </span>
                        </span>
                        &bull;
                        ציון סופי:
                        <span score value="{{ question.score }}"></span>
                        <span class="pull-right">
                        <button class="btn btn-xs btn-danger" ng-click="deleteQuestion(question)" ng-if="canDeleteQuestions">
                            מחק שאלה
                        </button>
                        </span>
                    </span>
                </span>
                <span ng-if="!studentView">
                    <span ng-click="expandQScores[question.id] = false" ng-show="expandQScores[question.id]"
                          class="glyphicon glyphicon-minus"></span>
                    <span ng-click="expandQScores[question.id] = true" ng-show="!expandQScores[question.id]"
                          class="glyphicon glyphicon-plus"></span>
                    <ul ng-show="expandQScores[question.id]" class="list-group">
                        <li class="list-group-item" ng-repeat="evaluation in question.evaluations">
                            <span ng-class="{'highlight': evaluation.highlight}">
                                {{ evaluation.student.name }} &bull;
                                <span ng-hide="evaluation.submitted" not-submitted></span>
                                <span ng-show="evaluation.submitted">
                                    <span score value="{{ evaluation.score }}"></span>
                                </span>
                            </span>
                        </li>
                    </ul>
                </span>
                <lomda-errors field="question.errors"></lomda-errors>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    תשובות
                </li>
                <li class="list-group-item" ng-repeat="answer in question.answers"
                    ng-show="answer.submitted || !studentView">
                    <span ng-class="{'highlight': answer.highlight}">
                        <span ng-if="!studentView">
                            {{ answer.student.name }} &bull;
                            <span ng-hide="answer.submitted" not-submitted></span>
                            <span ng-show="answer.submitted">
                                {{ answer.text }}
                                &bull;
                                <span ng-hide="answer.editTeacherScoreMode">
                                    <span ng-show="answer.teacher_score">
                                        ציון מורה: {{ answer.teacher_score | scoreNumber }}
                                    </span>
                                    <span ng-hide="answer.teacher_score">
                                        אין ציון מורה
                                    </span>
                                    <span class="btn-group" role="group" aria-label="edit" ng-if="canEditTeacherScores">
                                        <button title="ערוך ציון מורה" class="btn btn-xs"
                                                ng-click="answer.editTeacherScoreMode = true; answer.input_teacher_score = answer.teacher_score">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button title="מחק ציון מורה"
                                                ng-if="answer.teacher_score" class="btn btn-xs"
                                                ng-click="deleteTeacherScore(answer)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </span>
                                <span ng-show="answer.editTeacherScoreMode">
                                    <select ng-model="answer.input_teacher_score"
                                            ng-options="x for x in [10,9,8,7,6,5,4,3,2,1]">
                                    </select>
                                    <span class="btn-group" role="group" aria-label="edit">
                                        <button ng-click="changeTeacherScore(answer)"
                                                type="button"
                                                class="btn btn-primary btn-xs">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button ng-click="cancelTeacherScore(answer)" type="button"
                                                class="btn btn-primary btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                     </span>
                                </span>
                                <span>
                                    &bull;
                                    ציון סופי
                                    <span score value="{{ answer.score }}"></span>
                                </span>
                            </span>
                        </span>
                        <span ng-if="studentView">
                            {{ answer.text }}
                                &bull;
                                ציון סופי
                            <span score value="{{ answer.score }}"></span>
                        </span>
                    </span>
                    <lomda-errors field="answer.errors"></lomda-errors>
                    <span ng-show="!studentView && answer.evaluations.length > 0">
                        <span ng-click="expandAScores[answer.id] = false" ng-show="expandAScores[answer.id]"
                              class="glyphicon glyphicon-minus"></span>
                        <span ng-click="expandAScores[answer.id] = true" ng-show="!expandAScores[answer.id]"
                              class="glyphicon glyphicon-plus"></span>
                        <ul ng-show="expandAScores[answer.id]" class="list-group">
                            <li class="list-group-item" ng-repeat="evaluation in answer.evaluations">
                                <span ng-class="{'highlight': evaluation.highlight}">
                                    {{ evaluation.student.name }} &bull;
                                    <span ng-hide="evaluation.submitted" not-submitted></span>
                                    <span ng-show="evaluation.submitted">
                                        <span score value="{{ evaluation.score }}"></span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </span>

                </li>
            </ul>
        </div>
    </div>
</div>
