<div ready="ready">
    <div class="page-header">
        <h1>רשימת שאלות ותשובות לתלמיד {{ cr.student.name }} מסוג {{ kindName }}</h1>
    </div>
    <div ng-include="'/static/app/partials/teacher/_questions.html'">
    </div>
</div>
