<div>
    <div class="panel panel-{{ lesson.state | stateColor }}" ng-repeat="lesson in lessons">
        <div class="panel-heading">
            {{ lesson.title }} [{{ lesson.state | stateName }}]
        </div>
         <ul class="list-group">
                 <li class="list-group-item">
                    <a ui-sref="teacher_lesson({lessonId: lesson.id})">פרטים ועריכה</a>
                     &bull;
                     <a ui-sref="teacher_lesson_questions({lessonId: lesson.id})">שאלות</a>
                     &bull;
                     <a ui-sref="teacher_lesson_status({lessonId: lesson.id})">סטטוס</a>
                </li>
                <li class="list-group-item" ng-if="lesson.state == 'close'">
                    התחיל ב: {{ lesson.history[1].start_dt | lomdaDate }}
                </li>
                <li class="list-group-item" ng-if="lesson.state == 'close'">
                    הסתיים ב: {{ lesson.history[3].start_dt | lomdaDate }}
                </li>
                <li class="list-group-item" ng-if="lesson.state == 'active' || lesson.state == 'eval'">
                    שלב נוכחי התחיל ב: {{ lesson[lesson.state + '_at'] | lomdaDate }}
                </li>
                <li class="list-group-item" ng-if="lesson.state == 'active' || lesson.state == 'eval'">
                    סיום שלב נוכחי: {{ lesson[lesson.state + '_end_dt'] | lomdaDate }}
                </li>
                <li class="list-group-item" ng-if="lesson.state == 'initial'">
                    השיעור נוצר ב: {{ lesson.created_at | lomdaDate }}
                </li>

         </ul>
    </div>
</div>
