<div ready="ready">
    <div class="page-header">
        <h1>
            <span ng-if="!editMode.title">{{ lesson.title }}</span>

            <span ng-if="editMode.title"><input type="text" ng-model="input.title"></span>
        </h1>
        <a ui-sref="teacher_lesson_questions({lessonId:lessonId})">שאלות</a>
        &bull;
        <a ui-sref="teacher_lesson_status({lessonId: lesson.id})">סטטוס</a>
        <span class="pull-right" ng-if="canEdit">
            <button ng-hide="editMode.title" ng-disabled="editMode.title" ng-click="edit('title')" type="button"
                    class="btn btn-primary btn-xs"><i
                    class="glyphicon glyphicon-pencil"></i></button>
            <span ng-if="editMode.title">
                <span class="btn-group" role="group" aria-label="edit">
                    <button ng-click="approve('title')" type="button" class="btn btn-primary btn-xs"><i
                            class="glyphicon glyphicon-ok"></i></button>
                    <button ng-click="cancel('title')" type="button" class="btn btn-primary btn-xs"><i
                            class="glyphicon glyphicon-remove"></i></button>
                </span>
            </span>
        </span>
        <lomda-errors field="errors.title"></lomda-errors>
    </div>

    <div class="row">
        <div class="panel panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <b>מצב נוכחי: </b>
                    <span class="label label-lg label-{{ lesson.state | stateColor }}">
                        {{ lesson.state | stateName }}
                    </span>
                    <span ng-if="lesson.state == 'active'">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <b>זמן סיום:</b>
                        {{ lesson.active_end_dt | lomdaDate }}
                    </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    <span time-left dt="lesson.active_end_dt" step="60"></span>
                    </span>
                </li>
                <li class="list-group-item" ng-show="lesson.next_state">
                    <form name="stateForm" ng-submit="moveToNextState()" novalidate>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-xs btn-{{ lesson.next_state | stateColor }}">
                                    עבור למצב {{ lesson.next_state | stateName }}
                                </button>
                            </div>
                            <div class="col-md-9">
                                <table ng-if="lesson.next_state == 'active'">
                                    <tr>
                                        <td><b>זמן סיום למצב פעיל:&nbsp;</b></td>
                                        <td>
                                            <dt-selector dt-model="input.active_end_dt"></dt-selector>
                                        </td>
                                    </tr>
                                    <td><b>זמן סיום למצב הערכה:&nbsp;</b></td>
                                    <td>
                                        <dt-selector dt-model="input.eval_end_dt"></dt-selector>
                                    </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <lomda-errors field="errors.state"></lomda-errors>
                    </form>
                </li>
            </ul>
            <table class="table">
                <tr>
                    <th>מצב</th>
                    <th>זמן התחלה</th>
                </tr>
                <tr ng-repeat="row in lesson.history">
                    <td>
                <span class="label label-lg label-{{ row.state | stateColor }}">
                    {{ row.state | stateName }}
                </span>
                    </td>
                    <td>
                        {{ row.start_dt | lomdaDate }}
                    </td>
                    <td>
                        <span ng-if="row.end_dt" ng-submit="editTime(row)">
                            <form>
                                <dt-selector dt-model="input[row.state + '_end_dt']"></dt-selector>
                                <button type="submit" ng-disabled="!timeChanged(row)" class="btn btn-primary">עדכן
                                </button>
                                <button type="button" ng-click="clearTime(row)" ng-disabled="!timeChanged(row)"
                                        class="btn btn-primary">נקה
                                </button>
                            </form>
                        </span>
                    </td>
                </tr>
            </table>
            <lomda-errors field="errors.times"></lomda-errors>
        </div>
    </div>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">
                <h2>תוכן</h2>

                <div class="well">
                    <div ng-if="!editMode.content" class="row keep-nl">{{ lesson.content }}</div>
                    <div ng-if="editMode.content"><textarea rows="10" cols="60" ng-model="input.content"></textarea>
                    </div>
                    <div class="row">
                        <span class="pull-right" ng-if="canEdit">
                            <button ng-hide="editMode.content" ng-disabled="editMode.content" ng-click="edit('content')"
                                    type="button"
                                    class="btn btn-primary btn-xs"><i
                                    class="glyphicon glyphicon-pencil"></i></button>
                            <span ng-if="editMode.content">
                                <span class="btn-group" role="group" aria-label="edit">
                                    <button ng-click="approve('content')" type="button" class="btn btn-primary btn-xs">
                                        <i
                                                class="glyphicon glyphicon-ok"></i></button>
                                    <button ng-click="cancel('content')" type="button" class="btn btn-primary btn-xs"><i
                                            class="glyphicon glyphicon-remove"></i></button>
                                </span>
                            </span>
                        </span>
                    </div>
                    <lomda-errors field="errors.content"></lomda-errors>
                </div>
            </li>
            <li class="list-group-item">
                <h4>קישור ליוטיוב</h4>
                <div class="well">
                <div yt-link vid="{{ ytVid }}"></div>
                <input ng-show="editMode.youtube_id" name="ytLink" type="url" class="form-control"
                       placeholder="לינק ליוטיוב"
                       ng-model="input.link"
                       ng-change="ytChange()">
                <span class="pull-right" ng-if="canEdit">
                    <span ng-hide="editMode.youtube_id" class="btn-group" role="group" aria-label="youtube-edit">
                        <button ng-click="edit('youtube_id')" type="button"
                                class="btn btn-primary btn-xs"><i
                                class="glyphicon glyphicon-pencil"></i></button>
                        <button ng-disabled="!lesson.youtube_id" ng-click="trash('youtube_id')" type="button"
                                class="btn btn-primary btn-xs">
                            <i class="glyphicon glyphicon-trash"></i></button>
                    </span>
                    <span ng-show="editMode.youtube_id">
                        <span class="btn-group" role="group" aria-label="edit">
                            <button ng-click="approve('youtube_id')" type="button" class="btn btn-primary btn-xs"><i
                                    class="glyphicon glyphicon-ok"></i></button>
                            <button ng-click="cancel('youtube_id')" type="button" class="btn btn-primary btn-xs"><i
                                    class="glyphicon glyphicon-remove"></i></button>
                        </span>
                    </span>
                </span>
                <lomda-errors field="errors.youtube_id"></lomda-errors>
                </div>
            </li>
            <li class="list-group-item">
                <h4>תמונה</h4>
                <div class="well">
                    <img ng-if="image" ng-src="{{ image }}" class="img-responsive">
                    <input ng-if="editMode.image" file-upload cb="fileSelected" type="file" name="image"
                            accept="image/jpg, image/png, image/jpeg">
                    <span class="pull-right" ng-if="canEdit">
                        <span ng-hide="editMode.image" class="btn-group" role="group" aria-label="youtube-edit">
                            <button ng-click="edit('image')" type="button"
                                    class="btn btn-primary btn-xs"><i
                                    class="glyphicon glyphicon-pencil"></i></button>
                            <button ng-disabled="!lesson.image" ng-click="trash('image')" type="button"
                                    class="btn btn-primary btn-xs">
                                <i class="glyphicon glyphicon-trash"></i></button>
                        </span>
                        <span ng-show="editMode.image">
                            <span class="btn-group" role="group" aria-label="edit">
                                <button ng-click="approve('image')" type="button" class="btn btn-primary btn-xs"><i
                                        class="glyphicon glyphicon-ok"></i></button>
                                <button ng-click="cancel('image')" type="button" class="btn btn-primary btn-xs"><i
                                        class="glyphicon glyphicon-remove"></i></button>
                            </span>
                        </span>
                    </span>
                    <lomda-errors field="errors.image"></lomda-errors>
                </div>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <a ui-sref="teacher_lesson_questions({lessonId:lessonId})">שאלות</a>
            </div>
            <table class="table" ng-repeat="question in questions" ng-controller="TeacherQuestionController">
                <tr>
                    <td class="col-sm-6">
                        <span ng-if="!editMode">
                            {{ question.text }}

                        </span>
                        <span ng-if="editMode">
                            <input class="form-control" type="text" ng-model="input.text">
                            <span class="btn-group" role="group" aria-label="edit">
                                <button ng-click="approve()" type="button" class="btn btn-primary btn-xs"><i
                                        class="glyphicon glyphicon-ok"></i></button>
                                <button ng-click="cancel()" type="button" class="btn btn-primary btn-xs"><i
                                        class="glyphicon glyphicon-remove"></i></button>
                            </span>
                        </span>
                    </td>
                    <td class="col-sm-4">
                        <span>
                                {{ question.created_at | lomdaDate }}
                            &bull;
                            <span ng-show="question.is_teacher">
                                שאלת מורה
                            </span>
                            <span ng-hide="question.is_teacher">
                                {{ question.created_by_student.name }}
                            </span>
                            <span ng-show="question.last_edited_at">
                                &bull;
                                נערך ב
                                {{ question.last_edited_at | lomdaDate }}
                            </span>
                        </span>
                    </td>
                    <td class="col-sm-2">
                        <span ng-if="canEdit">
                            <span class="btn-group" role="group" aria-label="...">
                                <button ng-disabled="editMode" ng-click="edit()" type="button"
                                        class="btn btn-primary btn-xs"><i
                                        class="glyphicon glyphicon-pencil"></i></button>
                                <button ng-disabled="editMode" ng-click="trash()" type="button"
                                        class="btn btn-primary btn-xs">
                                    <i class="glyphicon glyphicon-trash"></i></button>
                            </span>
                        </span>
                    </td>
                </tr>
                <tr ng-show="errors > 0">
                    <td colspan="3">
                        <lomda-errors></lomda-errors>
                    </td>
                </tr>
            </table>
            <div class="panel-body" ng-controller="NewQuestionController" ng-if="canEdit">
                <form name="addQuestionForm" ng-submit="addQuestion()" novalidate class="form-horizontal">
                    <div class="form-group">
                        <label for="qn_text" class="col-sm-2 control-label">* טקסט</label>

                        <div class="col-sm-8">
                            <input type="text" name=text" class="form-control" id="qn_text" required
                                   placeholder="טקסט לשאלה" ng-model="input.text">
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="addQuestionForm.$invalid">הוסף שאלה
                        </button>
                    </div>
                    <lomda-errors></lomda-errors>
                </form>
            </div>
        </div>
    </div>
</div>

