<div ready="ready">
<div class="page-header">
    <h1>סטטוס תלמידים - שיעור {{ lesson.title }}</h1>
    <h2>מצב: <span class="label label-lg label-{{ lesson.state | stateColor }}">
                {{ lesson.state | stateName }}
            </span></h2>
    <a ui-sref="teacher_lesson({lessonId:lessonId})">שיעור</a>
        &bull;
        <a ui-sref="teacher_lesson_questions({lessonId: lesson.id})">שאלות</a>
</div>
<div class="row">
    <h2>
    {{ records.length }}
    תלמידים
    מתוך
    {{ allRecords.length }}
    </h2>
    <div class="btn-group" role="group" aria-label="filter">
      <button type="button" class="btn btn-primary btn-xs" ng-disabled="filter=='all'" ng-click="doFilter('all')">הכל</button>
      <button type="button" class="btn btn-success btn-xs" ng-disabled="filter=='good'" ng-click="doFilter('good')"><span class="glyphicon glyphicon-ok"></span></button>
      <button type="button" class="btn btn-danger btn-xs" ng-disabled="filter=='bad'" ng-click="doFilter('bad')"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>תלמיד</th>
        <th>שאלת שאלות</th>
        <th>מענה לתשובות</th>
        <th>ביצוע הערכה</th>
    </tr>
    </thead>
    <tr ng-repeat="sr in relevant(records)">
        <td>{{ sr.student.name }}</td>
        <td><span bool2vx value="sr.ask_completed" valid="valid('ask')"></span></td>
        <td><span bool2vx value="sr.answer_completed" valid="valid('answer')"></span></td>
        <td><span bool2vx value="sr.eval_completed" valid="valid('eval')"></span></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <span ng-show="valid('ask')">
                <span class="text-success"><b>{{ counters.ask.true }}</b></span>
                <span class="text-danger"><b>{{ counters.ask.false }}</b></span>
            </span>
        </td>
        <td>
            <span ng-show="valid('answer')">
                <span class="text-success"><b>{{ counters.answer.true }}</b></span>
                <span class="text-danger"><b>{{ counters.answer.false }}</b></span>
            </span>
        </td>
        <td>
            <span ng-show="valid('eval')">
                <span class="text-success"><b>{{ counters.eval.true }}</b></span>
                <span class="text-danger"><b>{{ counters.eval.false }}</b></span>
            </span>
        </td>
    </tr>
</table>
</div>