<div class="page-header">
    <h1>רשימת שאלות ותשובות לשיעור {{ lesson.title }}
    <span ng-show="studentLesson">
        {{ studentLesson.student.name }}
    </span>
    <span ng-show="kind">
        מסוג {{ kindName }}
    </span>
    </h1>
        <a ui-sref="teacher_lesson({lessonId:lessonId})">שיעור</a>
        &bull;
        <a ui-sref="teacher_lesson_status({lessonId: lesson.id})">סטטוס</a>
</div>
<div ng-include="'/static/app/partials/teacher/_questions.html'">
</div>