<div>
    <form name="createLessonForm" class="form-horizontal" ng-submit="createLesson()" novalidate>
        <div class="form-group">
            <label class="col-sm-2 form-label">שם השיעור *</label>

            <div class="col-sm-10">
                <input name="title" class="form-control " type="text" placeholder="הכנס את שם השיעור"
                       ng-model="input.title" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 form-lable">תוכן *</label>

            <div class="col-sm-10">
                <textarea name="content" class="form-control" placeholder="הכנס תוכן" rows="10" ng-model="input.content"
                          required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 form-label"><img ng-src="/static/app/images/yt_icon.png" width="30"></label>

            <div class="col-sm-10">
                <input name="ytLink" type="url" class="form-control" placeholder="לינק ליוטיוב" ng-model="input.link"
                       ng-change="ytChange()">

                <div yt-link vid="{{ input.youtube_id }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 form-label"><img ng-src="/static/app/images/upload_image.png" width="30"></label>

            <div class="col-sm-10">
                <input file-upload type="file" cb="fileSelected" name="image"
                       accept="image/jpg, image/png, image/jpeg">

                <div ng-show="input.image">
                    <img class="img-responsive" ng-src="{{ input.image }}">
                    <span class="pull-right">
                        <button ng-click="clearSelectedFile()" type="button" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="createLessonForm.$invalid">צור שיעור</button>
        </div>
        <lomda-errors></lomda-errors>
    </form>
</div>
