<table class="table">
    <thead>
        <th class="col-md-3">שם התלמיד</th>
        <th class="col-md-3"></th>
        <th class="col-md-3">ציון מסכם שאלות ותשובות</th>
        <th class="col-md-3">ציון מסכם הערכות</th>
    </thead>
    <tr ng-repeat-start="sr in studentRecords" ng-class="{'success': expand[sr.id]}">
        <td>{{ sr.student.name }}</td>
        <td>
            <span ng-click="expand[sr.id] = false" ng-show="expand[sr.id]" class="glyphicon glyphicon-minus"></span>
            <span ng-click="expand[sr.id] = true" ng-show="!expand[sr.id]" class="glyphicon glyphicon-plus"></span>
        </td>
        <td><a ui-sref="teacher_course_questions_filter({'courseId': course.id,'courseRecordId':sr.id,'kind':'qa'})"><span score value="{{ sr.qa_score}}"></span></a></td>
        <td><a ui-sref="teacher_course_questions_filter({'courseId': course.id,'courseRecordId':sr.id,'kind':'eqa'})"><span score value="{{ sr.eqa_score}}"></span></a></td>
    </tr>
    <tr ng-repeat="lr in sr.lesson_records" ng-show="expand[sr.id]">
        <td></td>
        <td>{{ lr.lesson.title }}</td>
        <td><a ui-sref="teacher_lesson_questions_filtered({lessonId:lr.lesson.id,slId: lr.id,kind:'qa'})"><span score value="{{lr.qa_score }}"></span></a></td>
        <td><a ui-sref="teacher_lesson_questions_filered({lessonId:lr.lesson.id,slId:lr.id,'kind':'eqa'})"><span score value="{{lr.eqa_score }}"></span></a></td>
    </tr>
    <tr ng-repeat-end>
</table>
