<div class="welcome">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <div class="row">
                <button class="big btn btn-block btn-primary col-md-6"  ng-click="go('teacher_new_lesson')">
                    שיעור חדש
                </button>
            </div>
            <div class="row">
                <button class="big btn btn-block btn-primary col-md-6"  ng-click="go('teacher_current_lesson')">
                    שיעור נוכחי
                </button>
            </div>
            <div class="row">
                <button class="big btn btn-block btn-primary col-md-6"  ng-click="go('teacher_lessons')">
                    רשימת שיעורים
                </button>
            </div>
            <div class="row">
                <button class="big btn-block btn btn-primary col-md-6"  ng-click="go('teacher_students')">
                    רשימת תלמידים
                </button>
            </div>
        </div>
    </div>
</div>
