<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="login">
            <form name="loginForm" novalidate class="form-signin" ng-submit="login()">
                <h2 class="form-signin-heading">ברוכים הבאים ללומדה</h2>

                <div class="form-group">
                    <label for="inputEmail" class="sr-only">כתובת אימייל</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="כתובת אימייל"
                           ng-model="input.email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">ססמא</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="ססמא"
                           ng-model="input.password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid" type="submit">התחבר</button>
                </div>
                <lomda-errors></lomda-errors>
            </form>
        </div>
    </div>
</div>