<div class="container" ng-controller="NavController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="welcome">לומדה</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" ng-cloack>
        <ul class="nav navbar-nav">
            <li ng-class="{'active': active == 'home'}"><a ui-sref="welcome">בית</a></li>
            <li ng-if="user && user.is_teacher" ng-class="{'active': active == 'teacher'}" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">מורה<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="teacher_new_lesson">שיעור חדש</a></li>
                    <li><a ui-sref="teacher_current_lesson">שיעור נוכחי</a></li>
                    <li><a ui-sref="teacher_lessons">רשימת שיעורים</a></li>
                    <li><a ui-sref="teacher_students">מעקב תלמידים</a></li>
                </ul>
            </li>
            <li ng-if="user && user.is_student" ng-class="{'active': active == 'student'}" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">תלמיד<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="student_current_lesson">שיעור נוכחי</a></li>
                    <li><a ui-sref="student_lessons">רשימת שיעורים</a></li>
                </ul>
            </li>
            <li ng-class="{'active': active == 'about'}"><a ui-sref="about">עלינו</a></li>
            <li ng-class="{'active': active == 'contact'}"><a ui-sref="contact">צור קשר</a></li>

        </ul>
        <p class="navbar-text navbar-right" ng-if="user">
            <a href="#/logout">התנתק</a>
        </p>
        <p class="navbar-text navbar-right" ng-if="user && user.is_student">
            הציון שלך <span score value="{{ record.qa_score }}" }}></span>
            &bull;
            הציון הכיתתי <span score value="{{ record.class_qa_score }}"></span>
        </p>
        <p class="navbar-text navbar-right" ng-if="user">{{ user.role }} &bull; {{ user.name }}
            קורס {{ course.subject.title }}
        </p>

    </div>

</div>