<div ready="ready">
    <div class="panel panel-{{ lr.lesson.state | stateColor }}" ng-repeat="lr in cr.lesson_records">
        <div class="panel-heading">
            {{ lr.lesson.title }}
                <span ng-show="lr.lesson.state == 'close'">
                    [השיעור הסתיים]
                </span>
                <span ng-show="lr.lesson.state == 'active' || lr.lesson.state == 'eval'">
                    [{{ lr.state | studentLessonDescription }}]
                </span>
        </div>
         <ul class="list-group">
             <li class="list-group-item">
                 <a ui-sref="student_lesson({lessonId: lr.lesson.id})">קישור לשיעור</a>
                 <span ng-show="lr.lesson.state == 'close'">
                 &bull;
                 <a ui-sref="student_lesson_questions({lessonId: lr.lesson.id})">קישור לשאלות ותשובות</a>
                 </span>

             </li>
            <li class="list-group-item" ng-show="lr.lesson.state == 'close'">
                  ציון שאלות ותשובות: <span score value="{{  lr.qa_score }}"></span>
            </li>
             <li class="list-group-item" ng-show="lr.lesson.state == 'close'">
                  ממוצע ההערכות שנתת: <span score value="{{  lr.eqa_score }}"></span>
            </li>
         </ul>
    </div>
</div>
