<div ready="ready">
    <div class="page-header">
        <h1>
            <span>{{ lesson.title }}</span>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-6 lesson-content-column">
            <ul class="list-group">
                <li class="list-group-item" ng-if="lesson.state == 'active'">
                    השלמת השאלות והתשובות עד: {{ lesson.state_end_dt | lomdaDate }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span time-left dt="lesson.state_end_dt" step="60"></span>
                    </span>
                </li>
                <li class="list-group-item" ng-if="lesson.state == 'eval'">
                    השלמת ההערכות עד: {{ lesson.state_end_dt | lomdaDate }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span time-left dt="lesson.state_end_dt"></span>
                    </span>
                </li>
                <li class="list-group-item">
                    <div class="well keep-nl">{{ lesson.content }}</div>
                </li>
                <li class="list-group-item" ng-if="lesson.youtube_id">
                    <div yt-link vid="{{ lesson.youtube_id }}"></div>
                </li>
                <li class="list-group-item" ng-if="lesson.image">
                    <div class="row">
                        <img ng-src="{{ lesson.image }}" class="img-responsive">
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6 lesson-work-column">
            <div class="row" ng-if="lesson.state == 'close'">
                <div ng-include="'/static/app/partials/student/lesson/closed.html'"></div>
            </div>
            <div class="row" ng-if="lesson.state == 'active' && record && record.state">
                <div ng-if="record.state=='ask'">
                    <div ng-controller="LessonAskController"
                         ng-include="'/static/app/partials/student/lesson/ask.html'"></div>
                </div>
                <div ng-if="record.state=='answer'">
                    <div ng-controller="LessonAnswerController"
                         ng-include="'/static/app/partials/student/lesson/answer.html'"></div>
                </div>
                <div ng-if="record.state=='eval'">
                    <div ng-controller="LessonAnswerController"
                         ng-include="'/static/app/partials/student/lesson/wait_eval.html'">
                    </div>
                </div>
            </div>
            <div class="row" ng-if="lesson.state == 'eval' && record && record.state">
                <div ng-if="record.state=='eval'">
                    <div ng-controller="LessonEvalController"
                         ng-include="'/static/app/partials/student/lesson/eval.html'"></div>
                </div>
                <div ng-if="record.state=='done'">
                    <div ng-controller="LessonEvalController"
                         ng-include="'/static/app/partials/student/lesson/done.html'"></div>
                </div>
            </div>
            <div class="row" ng-if="lesson.state == 'done'">
                <h3>השיעור נסגר</h3>
            </div>
        </div>
    </div>
</div>