<div class="welcome">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <div class="row">
                <button ng-click="go('student_current_lesson')" class="big btn btn-block btn-primary col-md-6">
                    שיעור נוכחי
                </button>
            </div>
            <div class="row">
                <button ng-click="go('student_lessons')" class="big btn btn-primary btn-block col-md-6">
                    רשימת שיעורים
                </button>
            </div>
        </div>
    </div>
</div>