{% extends 'notif/base.html' %}
{% load tags %}
{% block content %}
<h1>הודעה על שיעור חדש</h1>

שלום {{ user.name }},

<p>
    בקורס {{ lesson.course.subject.title }} פורסם שיעור חדש: {{ lesson.title }}.
    <br/>
    ניתן להכנס לשיעור <a href="{% get_link lesson user %}">בקישור הבא</a> ולהתחיל את העבודה.
</p>
 בהצלחה רבה!!!
{% endblock %}



