{% extends 'notif/base.html' %}
{% load tags %}
{% block content %}
<h1>תחילת שלב מילוי הערכות</h1>

שלום {{ user.name }},

<p>
    השיעור {{ lesson.title }} בקורס {{ lesson.course.subject.title }} עבר לשלב מילוי ההערכות.
<br/>
    הינכם מוזמנים להיכנס לשיעור <a href="{% get_link lesson user %}">בקישור הבא</a> ולמלא את ההערכות לתשובות והשאלות של חבריכם.
</p>
 בהצלחה רבה!!!
{% endblock %}



