{% extends 'notif/base.html' %}
{% load tags %}
{% block content %}
<h1>סיום השיעור</h1>

שלום {{ user.name }},

<p>
    השיעור {{ lesson.title }} בקורס {{ lesson.course.subject.title }} הסתיים.
<br/>
    הינכם מוזמנים להיכנס לשיעור <a href="{% get_link lesson user %}">בקישור הבא</a> ולראות את ציונכם ואת כל השאלות והתשובות.
</p>
 בהצלחה רבה!!!
{% endblock %}




