{% extends 'notif/base.html' %}
{% load tags %}
{% block content %}
<h1>תזכורת להשלמת ההערכות</h1>

שלום {{ user.name }},

<p>
    שלב כתיבת ההערכות בשיעור {{ lesson.title }} בקורס {{ lesson.course.title }} עומד להסתיים ב ב
    {{ lesson.eval_end_dt | lomda_expire_date }}
<br/>
    ניתן להכנס לשיעור <a href="{% get_link lesson user %}">בקישור הבא</a> ולסיים את ההערכות שלכם
</p>
 בהצלחה רבה!!!
{% endblock %}





