{% extends 'notif/base.html' %}
{% load tags i18n %}
{% block content %}
<h1>התראת מורה: מצב {% trans lesson.get_state_display %} עומד להסתיים</h1>

שלום {{ user.name }},

<p>
    שם השיעור: {{ lesson.title }} בקורס {{ lesson.course.name }}
</p>
    <p>השלב הנוכחי בשיעור עומד להסתיים ב {{ end_state_dt | lomda_expire_date }}
<p>

</p>
{% with lesson.uncompleted_records  as uncompleted %}
{% if uncompleted %}
    <h2 style="{{ styles.bad }}">התלמידים הבאים עדין לא סיימו את המטלות שלהם</h2>
<p>
    <ul>
    {% for sl in uncompleted %}
        <li>{{ sl.student.user.name }}</li>
    {% endfor %}
    </ul>
<p>
{% else %}
<p>
    <h2 style="{{styles.good}}">
    כל התלמידים סיימו את המטלות שלהם לשלב זה
    </h2>
</p>
{% endif %}
{% endwith %}
<p>
    ניתן להכנס לשיעור <a href="{% get_link lesson user %}">בקישור הבא</a> ולשנות את זמני הסיום
</p>
 תודה
{% endblock %}





