{% extends 'notif/base.html' %}
{% load tags %}
{% block content %}
<h1>תזכורת להשלמת השאלות והתשובות</h1>

שלום {{ user.name }},

<p>
    שלב כתיבת השאלות והמענה לתשובות בשיעור {{ lesson.title }} בקורס {{ lesson.course.title }} עומד להסתיים ב
    {{ lesson.active_end_dt | lomda_expire_date }}.
<br/>
    ניתן להכנס לשיעור <a href="{% get_link lesson user %}">בקישור הבא</a> ולסיים את המשימות שלכם
</p>
 בהצלחה רבה!!!
{% endblock %}




