{% extends 'notif/base.html' %}
{% load tags %}
{% block content %}
<h1>הודעה על מחיקת שאלה</h1>

שלום {{ user.name }},

<p>
    השאלה ששאלת בשיעור {{ question.lesson.title }} בקורס {{ question.lesson.course.subject.title }} נמחקה ע"י המורה בקורס.
</p>
    טקסט השאלה
    <blockquote>
    <cite>
        {{ question.text }}
    </cite>
    </blockquote>
 ייתכן כי השאלה חרגה מהכללים המותרים.
{% endblock %}





