<h3>ענה על השאלות הבאות</h3>

<form novalidate name="answerForm" ng-submit="answer()">
<div class="form-group" ng-repeat="answer in record.answers">
    <label>{{ answer.question.text }}</label>
    <input class="form-control" type="text" placeholder="הכניסו את תשובתכם" required ng-model="input.answers[answer.id]">
</div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" ng-disabled="!answerForm.$valid">ענה</button>
    </div>
    <lomda-errors></lomda-errors>
</form>