<h3>שאל שאלה על השיעור</h3>

<form name="askForm" ng-submit="ask()" novalidate>
  <div class="form-group">
    <input type="text" class="form-control" id="question" name="question" placeholder="שאל שאלה" ng-model="input.question" required>
  </div>
  <button ng-disabled="!askForm.$valid" $type="submit" class="btn btn-primary">שאל</button>
  <lomda-errors></lomda-errors>
</form>
