<h3>אנא העריכו את השאלות והתשובות הבאות</h3>
<form name="evalForm" novalidate ng-submit="eval()">
<div ng-repeat="evaluated_question in record.evaluated_questions">
    <div class="panel panel-primary">
        <div class="panel-heading">
            שאלה {{ 1 + $index }}
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">{{ evaluated_question.text }}
                <select required type="select" ng-options="x for x in [10,9,8,7,6,5,4,3,2,1]" ng-model="input.qEvals[evaluated_question.id]"></select>
            </li>
            <li class="list-group-item" ng-repeat="ea in evaluated_question.evaluatedAnswers">
                {{ ea.text }}
                <select required type="select" ng-options="x for x in [10,9,8,7,6,5,4,3,2,1]" ng-model="input.aEvals[ea.id]"></select>
            </li>
        </ul>
    </div>
</div>
    <div class="from-grouo">
        <button type="sumbit" ng-disabled="!allPositive()" class="btn btn-primary">שלחו הערכה</button>
    </div>
    <lomda-errors></lomda-errors>
</form>
