body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.select-time {
    direction: rtl;
}

.select-date-div {
    direction: rtl;
}


form.checknow.ng-invalid.ng-dirty {
    background-color: lightpink;
}

form.checknow.ng-valid.ng-dirty {
    background-color: lightgreen;
}


.welcome .big {
    height: 6em;
}

.welcome .row {
    padding: 20px;
}

div.login .form-group input {
    height: 6em;
    font-size: xx-large;
}

div.login .form-group button {
    height: 6em;
}

div.login div.errors {
    font-size: x-large;
}

.keep-nl {
    white-space: pre-wrap;
}

.lesson-content-column {
    border-right: 2px solid lightblue;
}
.lesson-work-column {
    padding: 30px;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

select.w4 {
    width: 5em;
}

span.w10 {
    width: 5em;
    display: inline-block;
}

select.w2 {
    width: 4em;
}

.highlight {
    //color: red !important;
    background: yellow !important;
}

/*iframe.youtube {*/
    /*width: 100%;*/
    /*height: 400px;*/
/*}*/